.container {
    margin: 125px 0;
}
.hyphen {
    color: var(--yellow-color);
}
.title {
    font-size: var(--font-size-47);
    color: var(--green-color);
}
.buttonsContainer {
    margin: 16px 0 34px 0;
    button {
        padding: 18px 36px;
    }
}