@font-face {
    font-family: 'Inter_Bold';
    src: url('../fonts/InterTight-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter_Light';
    src: url('../fonts/InterTight-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}