@import './z-index.scss';
@import './media-queries';


@mixin pseudo-element($display: block, $pos: absolute, $content: '', $visibility: visible, $z-index: auto){
    content: $content;
    display: $display;
    position: $pos;
    visibility: $visibility;
    z-index: $z-index;
}

@mixin section-style {
    padding: 0 100px;
    width: 1440px;
    margin: auto;

    @include desktop-l {
        width: 1240px;
        padding: 0 60px;
    }

    @include desktop-m {
        width: 1100px;
        padding: 0 30px;
    }

    @include tablet-l {
        width: 100%;
    }

    @include mobile-l {
        width: 100%;
        padding: 0 20px;
    }
}

//добавлять декоративные элементы points к секциям 
@mixin point-style {
    position: relative;
    overflow: hidden;

    > img {
        position: absolute;

        &:nth-child(1) {
            top: 512px;
            left: 25%;

            @include mobile-xl {
                top: 520px;
                left: 30px;
            }
        }

        &:nth-child(2) {
            bottom: 519px;
            right: 25%;
            rotate: 180deg;

            @include mobile-xl {
                bottom: 530px;
                right: 30px;
            }
        }
    }
}

@mixin decoration-element {
    background-image: url("../../../../shared/assets/svg/points-top.svg"), url("../../../../shared/assets/svg/points.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top -5px right 44%, bottom -13px left 36%;
    background-color: var(--background-color);

    @include mobile-xl {
        background-position: top -5px right 30px, bottom -13px left 30px;
    }
}

@mixin button-hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

@mixin title-admin {
    padding: 30px;
    background-color: var(--yellow-color);
}