@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

.header {
    background-color: var(--green-color);
    color: var(--white-color);

    @include tablet-m {
        flex-direction: column;
    }

    .header_container {
        @include section-style;

        .header_content {
            padding: 16px 0;

            @include tablet-m {
                justify-content: flex-end;
                padding: 16px 18px;
            }

            .phone, .discount {
                @include tablet-m {
                    display: none;
                }
            }

            .links {
                a {
                    color: var(--yellow-color);
                    font-size: var(--font-size-18);
                    font-weight: 500;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        left: 0;
                        bottom: -5px;
                        background-color: var(--yellow-color);
                        transition: width 0.3s ease;
                    }

                    &:hover:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}
