@import '../../../app/styles/media-queries';


//opacity 
$opacity: var(--opacity-08);

//font-weight
$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 600;

//line-height
$line-height: 28px;


.timeContainer {
    width: 100%;

    &.timerMainContainer {
        gap: 24px;
        width: 522px;

        @include tablet-m {
            width: 100%;
        }

        @include mobile-l {
            gap: 0;
            justify-content: space-between;
        }

        > div {
            width: 84.5px;
            gap: 8px;

            @include tablet-m {
                gap: 4px;
            }
    
            > p:nth-child(1) {
                color: var(--black-color);
                font-family: var(--font-family);
                font-size: var(--font-size-48);
                font-weight: $font-weight-l;

                @include tablet-m {
                    font-size: var(--font-size-32);
                }
            }
    
            > p:nth-child(2) {
                color: var(--secoundry-black-color);
                font-family: var(--font-family);
                font-size: var(--font-size-24);
                line-height: $line-height;
                font-weight: $font-weight-s;
                opacity: $opacity;

                @include tablet-m {
                    font-size: var(--font-size-24);
                }
            }
        }

        > span {
            color: var(--black-color);
            font-family: var(--font-family);
            font-size: var(--font-size-48);
            font-weight: $font-weight-l;


            @include tablet-m {
                font-size: var(--font-size-32);
            }
        }
    }

    &.timerCardContainer {
        gap: 7px;
        width: 265px;
        padding: 5px;
        background: var(--yellow-color);
        border-radius: var(--border-radius-12);

        @include mobile-l {
            justify-content: space-between;
            width: 100%;
        }


        > div {
            width: 61px;

            > p:nth-child(1) {
                color: var(--black-color);
                font-family: var(--font-family);
                font-size: var(--font-size-24);
                font-weight: $font-weight-m;
            }
    
            > p:nth-child(2) {
                color: var(--secoundry-black-color);
                font-family: var(--font-family);
                font-size: var(--font-size-18);
                font-weight: $font-weight-s;
                opacity: $opacity;

            }
        }

        > span {
            color: var(--black-color);
            font-family: var(--font-family);
            font-size: var(--font-size-24);
            font-weight: $font-weight-m;
        }
    }

    &.timerComingSoonContainer {
        gap: 37px;
        width: 584px;

        > div {
            width: 89px;
            gap: 12px;
    
            > p:nth-child(1) {
                color: var(--black-color);
                font-family: var(--font-family);
                font-size: var(--font-size-64);
                font-weight: $font-weight-l;
            }
    
            > p:nth-child(2) {
                color: var(--secoundry-black-color);
                font-family: var(--font-family);
                font-size: var(--font-size-24);
                line-height: $line-height;
                font-weight: $font-weight-s;
                opacity: $opacity;
            }
        }

        > hr {
            width: 1.5px;
            height: 117px;
            color: var(--stroke-color);
        }
    }
}
