@use '../../../../app/styles/mixin.scss' as mixin;
@use '../../../../app/styles/media-queries.scss' as media;

.advantages {
    @include mixin.section-style;
    
    @include media.tablet-l {
        width: fit-content;
    }

    @include media.mobile-xl {
        width: 100%;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    @include media.tablet-m {
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
    }
}
