@import '../../../app/styles/mixin';

//background-color
$yellow-color: var(--yellow-color);

.faqsContainer {
    width: 100%;

    > div {
        &:nth-child(1) {
            @include section-style;
        }

        &:nth-child(2) {
            width: 1200px;
        }

        > div > button {
            text-align: left;
            font-size: var(--font-size-header-s);
            font-weight: 500;
            width: 433px;
            padding: 21px 24px;
            transition: background-color 0.4s ease;

            &.active {
                background-color: $yellow-color;
                transition: background-color 0.4s ease;
            }
        }
    }
}