.activeFiltersContainer {
    flex-wrap: wrap;

    span {
        font-size: var(--font-size-18);
    }

    .filterChip {
        display: flex;
        align-items: center;
        background-color: var(--yellow-color); 
        border-radius: var(--border-radius-170); 
        padding: 8px 16px; 
    }
    
    .closeButton {    
        background: none;
        border: none; 
        cursor: pointer; 
        color: var(--black-color); 
        font-size: var(--font-size-16);
    
    &:hover {
        background: none;
        box-shadow: none;
    }
    }
    .clearAll {
        color: var(--green-color);
    }
}

