.testimonialContainer {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-36);
    height: 797px;
}

.testimonialContainer > div {
    align-items: center;
}
