@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

.testimonialContainer {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 70px 0 50px 0;

    @include decoration-element;

    @include mobile-xl {
        width: 100%;
        align-items: center;
    }

    & > div {
        @include section-style;

        @include tablet-l {
            padding: 20px 0;
            max-width: calc(100% - 48px);
        }
    }

    & > div:first-child {
        text-align: center;

        & > div {
            justify-content: center;
        }
    }
}

.testimonialsWrapper{
    & > div {
        flex-grow: 1;
        min-width: 100%;
    }
}


.testimonialContainer > div h2 {
    align-items: center;

    @include mobile-xl {
        text-align: center;
    }
}

section.testimonialContainer > img:nth-child(1) {
    @include mobile-xl {
        top: auto;
        bottom: 0px;
        left: 30px;
    }
}

section.testimonialContainer > img:nth-child(2) {
    @include mobile-xl {
        bottom: auto;
        top: 0px;
        right: 30px;
    }
}
