.reviewSummary {
  padding-bottom: 50px;
  border-bottom: 2px solid var(--stroke-color);
}

.ratingScoreSection {
  padding: 22px 75px;
  border-right: 2px solid var(--stroke-color);

  & > div:last-of-type {
    & svg {
      width: 28px;
      height: 28px;
    }
  }
  & p {
    line-height: 1;
  }
}
  
.ratingBreakdown {
  width: 100%;
}

.breakdownRow {
  & > span {
    width: 66px;
  }

  & > div:first-of-type {
    flex: 1;
    height: 8px;
    background-color: var(--stroke-color);
    border-radius: 4px;
    overflow: hidden;

    & > div {
      height: 100%;
      background-color: var(--yellow-color);
    }
  }
}
  