@import '../../../app/styles/media-queries';

//font-size
$font-size-16: var(--font-size-16);
$font-size-18: var(--font-size-18);

//background-color
$background-color-green: var(--green-color); 

//border
$border-radius: var(--border-radius-16);
$border: var(--border-input);

//color
$white-color: var(--white-color);
$opacity: var(--opacity-08);

.accordionContainer {
    width: 100%;
    padding: 24px;
    border-radius: $border-radius;
    border: $border;

    @include tablet-m {
        padding: 12px;
    }

    &.openAnswer {
        background-color: $background-color-green;
        color: $white-color;
        transition: all .3s ease;
    }
    
    &.closedAnswer {
        transition: all 0.3s ease;
    }

    > div {
        > p {
            font-weight: 600;
            line-height: 25px;

            @include tablet-m {
                font-size: $font-size-18;
            } 
            
        }

        &:nth-child(2) {
            width: 1005px;
            transition: max-height 0.3s ease, opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
            max-height: 0px; 
            opacity: 0;
            overflow: hidden;

            @include tablet-m {
                width: 303px;
            } 

            > p {
                opacity: $opacity;
                font-weight: 400;
                line-height: 28px;

                @include tablet-m {
                    font-size: $font-size-16;
                } 
            }
        } 

        &.visible {
            max-height: 1000px;
            opacity: 1;
            margin-top: 16px;
        }

        &.hidden {
            max-height: 0px;
            opacity: 0;
            margin-top: 0px;
        }
    }


    &.pageFAQ {
        width: 687px; 

        @include tablet-m {
            width: 327px;
        } 

        > div {
            &:nth-child(2)  {
                width: 591px;

                @include tablet-m {
                    width: 303px;
                } 
            }
        }
    }
}



