.max {
    width: 100%;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 24px;
}

.gap32 {
    gap: 32px;
}

.gap40 {
    gap: 40px;
}

.gap48 {
    gap: 48px;
}

.gap50 {
    gap: 50px;
}

.gap75 {
    gap: 75px;
}


.flex {
    display: flex;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyAround {
    justify-content: space-around;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyStart {
    justify-content: flex-start;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.column {
    flex-direction: column;
}