.container {   
    color: var(--black-color);
    flex-basis: 23%;

hr {
    width: 276px;
    height: 1px;
    background-color: var(--stroke-color);
    }
.subtitle {
    font-size: var(--font-size-20);
    font-weight: 500;
}
.price {
    color: var(--secoundry-black-color);
    font-size: var(--font-size-18);
}
.slider {
    width: 270px;
    height: 6px;
    background: var(--stroke-color);
    border-radius: 3px;
}
.thumb {
    height: 24px;
    width: 24px;
    background-color:var(--green-color);
    border-radius: 50%;
    cursor: pointer;
    border:var(--border-flashSale);
    margin-top: -7px; 
}
.track {
    position: absolute;
    height: 6px;
    border-radius: 3px;    
}
.trackMin {
    background-color: #ddd;
}
.trackMax {
    background-color: var(--green-color);
}
button {
    padding: 8px 16px;
}
}