@import '../../../app/styles/media-queries';
@import '../../../app/styles/mixin.scss';

//font-size
$font-size-18: var(--font-size-18);


.newsBlogsContainer {
    width: 100%;

    > div {

        @include section-style;

        @include desktop-m {
            width: 1000px;
        }

        @include tablet-l {
            width: 800px;
        }

        @include tablet-m {
            width: 750px;
        } 

        @include mobile-xl {
            width: 570px;
        }

        @include mobile-l {
            flex-direction: column;
            width: 327px;
        }

        &:nth-child(1) {
            @include mobile-l {
                align-items: center;
                gap: 24px;
            }
            
            > div:nth-child(1) {
                width: 400px;

                @include mobile-l {
                    text-align: center;
                    width: 327px;
                }

                > div {
                    @include mobile-l {
                        justify-content: center;
                    }
                    
                }
            }

            > a {
                align-self: end;

                @include mobile-l {
                    align-self: center;
                }

                > button {
                    padding: 17px 34px;
                    font-weight: 600;
                    font-size: $font-size-18;
                }
            }
        }

        &:nth-child(2) {
            @include desktop-m {
                overflow-x: scroll;
                touch-action: pan-x;
                scrollbar-width: none;
            }

            @include mobile-l {
                overflow: hidden;
            }
        }
    }
}