@import '../../../../app/styles/media-queries.scss';

.header_content {
    position: absolute;
    top: 15px;
    left: 0;  
    width: 100%; 
    padding: 0 140px;  
    color: var(--white-color);
    
    @include tablet-m {
        background-color: var(--green-color);
        position: static;
        padding: 10px 0 0 16px;   
    }

    .phone {
        @include tablet-m {
            display: none;  
        }
    }

    .discount {
        padding-left: 160px;

        @include tablet-m {
            padding-left: 0; 
        }
    }

    .cross {
        display: none; 

        @include tablet-m {
            display: block; 
            padding: 0 16px;
            background: transparent;
        }
    }

}