@import '../../../app/styles/media-queries.scss';

.container {
    width: 100%;    
}

.buttonsContainer {
    margin: 16px 0 34px 0;

        @include tablet-m {
            margin: 10px 0;
            gap: var(--gap-12);
            flex-wrap: wrap;
            width: 85%;
            justify-content: space-around;
        }
        @include mobile-xl {
            width: 47%;
        }
        @include mobile-l {
            gap: var(--gap-8);
        }

    button {
        padding: 8px 0;
        width: 180px;

        @include tablet-m {
            padding: 10px 0;
            width: 150px;
            font-size: var(--font-size-18);
        }

        @include mobile-xl {
            width: 130px;
            font-size: var(--font-size-16);
        }

        @include mobile-l {
            padding: 5px 0;
            width: 110px;
            font-size: var(--font-size-14);
        }
    }
}

.cardContainerWrapper {
    position: relative;
    width: calc(100% - 150px);
    margin-left: 150px;
    overflow-x: auto;

    @include tablet-l {        
        margin-left: 70px;
    }

    @include mobile-l {        
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}
.slider {
    button {
        background-color: var(--grey-background-color);
    }
}

.cardContainer {
    display: inline-flex;
    gap: 32px;
    width: max-content;
    padding: 0 0 30px 0;

    @include tablet-m {        
        gap: var(--gap-12);
    }
}

.cardWrapper {
    display: inline-block;

    @include mobile-l {  
        display: flex;
        justify-content: center;
    }
}
