@import '../../../app/styles/media-queries.scss';

.container {
    padding: 0 100px; //FIX LATER

    @include tablet-m {
        margin: 75px 0;
        width: 350px;
    }
}

.buttonsContainer {
    margin: 16px 0 34px 0;

    @include tablet-m {
        margin: 10px 0;
        gap: var(--gap-12);
        flex-wrap: wrap;
    }

    button {
        padding: 12px 36px;

        @include tablet-m {
            padding: 10px 20px;
            font-size: var(--font-size-18);
        }
    }
}
    .cardContainer {
        // flex-wrap: wrap;

        @include tablet-m {        
            gap: var(--gap-12);
        }
    }
