@import '../../../app/styles/media-queries.scss';

.container {
    width: 100%;    

    @include tablet-m {
        margin: 75px 0;
        width: 80%;
    }
}

.buttonsContainer {
    margin: 16px 0 34px 0;

    @include tablet-m {
        margin: 10px 0;
        gap: var(--gap-12);
        flex-wrap: wrap;
    }

    button {
        padding: 8px 36px;

        @include tablet-m {
            padding: 10px 20px;
            font-size: var(--font-size-18);
        }
    }
}

.cardContainerWrapper {
    position: relative;
    width: calc(100% - 150px);
    margin-left: 150px;
    overflow-x: auto;

    @include tablet-m {        
        margin-left: 70px;
    }

    @include mobile-l {        
        margin-left: 30px;
    }
}

.cardContainer {
    display: inline-flex;
    gap: 32px;
    width: max-content;
    padding: 0 0 30px 0;

    @include tablet-m {        
        gap: var(--gap-12);
    }
}

.cardWrapper {
    display: inline-block;
}
