.button {
    width: 58px;
    height: 58px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgba(36, 36, 36, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        width: 24px;
        height: 24px;
    }

    &:hover {
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
    }
}

.favorites {
    border-color: var(--green-color-hover);
    & path {
        stroke: var(--yellow-color);
    }
}
