@import '../../../app/styles/media-queries.scss';

.signup_page {
    height: 100vh;
    padding: 10px 150px;

    & > form,
    & > div {
      flex: 1;
    }

    @include tablet-m {
        height: auto;
        padding: 20px;
    }
}