@import '../../../app/styles/media-queries.scss';

.header {
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 17px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include tablet-m {
        flex-direction: column;
    }


    .phone {
        @include tablet-m {
            display: none;
        }
    }
}

.links a {
    color: var(--yellow-color);
    font-size: var(--font-size-18);
    font-weight: 500;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: var(--yellow-color);
    }

}

@include tablet-m {
    .visible {
        display: flex;
    }

    .hide {
        display: none;
    }

    .links {
        justify-content: flex-end;
        padding: 0 20px;
    }
}



