@import '../../../app/styles/media-queries';
@import '../../../app/styles/mixin';

$background-color: var(--background-color);

.sectionTitleContainer {
    position: relative;
    overflow: hidden;
    height: 215px;
    background: $background-color;
    width: 100%;

    @include tablet-m {
        height: 186px;
    }

    > div {
        position: relative;
        width: 80vw;
        
        > img {
            position: absolute;
    
            &:nth-child(1) {
                top: 97%;
                left: 5%;
            }
    
            &:nth-child(2) {
                bottom: 97%;
                right: 5%;
                rotate: 180deg;
            }
        }
    }

}