$background-color: var(--background-color);

.sectionTitleContainer {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 1440px;
    height: 215px;
    background: $background-color;

    > img {
        position: absolute;

        &:nth-child(1) {
            top: 150px;
            left: 241px;
        }

        &:nth-child(2) {
            bottom: 157px;
            right: 218px;
            rotate: 180deg;
        }
    }
}