@import '../../../app/styles/media-queries.scss';

.mainContainer {
    width: 100%;
    padding-left: 140px;

    @include tablet-m {
        padding: 0 50px;
    }

    @include mobile-m {
        padding: 0 10px;
    }
}

.hyphen {
    color: var(--yellow-color);
}

.subtitle {
    font-size: var(--font-size-47);
    span {
        color: var(--green-color);
    }

    @include tablet-m {
        font-size: var(--font-size-36);
    }
}

.container {
    overflow-x: auto;
    white-space:nowrap;
    width: 100%;
    padding-bottom: 30px;

    @include tablet-m {
        width: 80%;
    }
}


.cardContainer {
    width: 585px;
    border-radius: var(--border-radius-24);
    border: var(--border-todayDeals);
    padding: 12px;
    margin: 0 16px;

    @include tablet-m {
        width: 327px;
    }
}