@import '../../../app/styles/media-queries.scss';
@import '../../../app/styles/mixin';

.mainContainer {
    @include section-style;

    @include tablet-l {
        width: 100%;
    }

    > div {
        width: 100%;
    }

    > div:nth-child(1) {
        > a {
            padding: 17px 34px;
            font-weight: 600;
            align-self: end;

            @include mobile-l {
                width: 100%;
                text-align: center;
                align-self: center;
            }
        }
        @include mobile-l {
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 24px;
    
            > div {
                align-items: center;
            }
        }
    }

    .cardContainer {
        overflow-x: scroll;
        touch-action: pan-x;
        scrollbar-width: none;
        width: 100%;
    }
    
}
