@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin';

.container {
    @include section-style;  

    @include tablet-l {
        width: 100%;
    }

    .productContainer {
        width: 100%;
        
        > div {
            width: 100%;

            > div {
                &.filterButtons {
                    flex-wrap: wrap;
                
                    button {
                        padding: 18px 36px;
                        font-size: var(--font-size-18);

                        @include tablet-l {
                            padding: 10px 20px;
                        }
                    }
                }
            }

            &.cardContainerWrapper {
                .cardContainer {
                    width: 100%;
                    overflow-x: scroll;
                    touch-action: pan-x;
                    scrollbar-width: none;
                    cursor: grab;

                    @include mobile-l {
                        cursor: default;
                    }
                }
            }
        }
    }
}


