@use '../../../../app/styles/media-queries.scss' as *;
@use '../../../../app/styles/mixin' as mixin;

.container {
    @include mixin.section-style;  

    .productContainer {
        width: 100%;
        
        > div {
            width: 100%;

            > div {
                &.filterButtons {
                    flex-wrap: wrap;
                
                    button {
                        padding: 18px 36px;
                        font-size: var(--font-size-18);

                        @include tablet-l {
                            padding: 10px 20px;
                        }
                    }
                }
            }

            &.cardContainerWrapper {
                .cardContainer {
                    width: 100%;
                    overflow-x: scroll;
                    touch-action: pan-x;
                    scrollbar-width: none;
                    cursor: grab;

                    > div {
                        position: relative;
                        overflow: hidden;
                        width: auto;
                        
                        @include mobile-l {
                            width: 100%;
                        }
            
            
                        > div:nth-child(1) {
                            position: relative;
                            > div:nth-child(1) {
                                position: relative;
            
                                img {
                                    position: relative;
                                }
                            }
                        }
                    
                        > div:nth-child(2) {
                            position: absolute;
                            width: calc(100% - 24px); 
                            height: 100%; 
                            top: 12px;
                            left: 12px;
                        }
                    }

                    @include mobile-l {
                        cursor: default;
                    }
                }
            }
        }
    }
}


