@import '../../../app/styles/media-queries.scss';

.questionMainPageContainer {
    padding: 0 100px; //FIX LATER

    > div {
        width: 1200px;

        @include tablet-m {
            width: 327px;
        } 

        &:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}