@import '../../../app/styles/media-queries.scss';

// Font sizes
$font-size-xxs: var(--font-size-xxs);
$font-size-xs: var(--font-size-xs);
$font-size-s: var(--font-size-s);
$font-size-m: var(--font-size-m);

$sizes: (
    xs: $font-size-xs,
    s: $font-size-s,
    m: $font-size-m
);

@each $name, $size in $sizes {
    .#{$name} {
        font-size: $size;
    }
}

// Colors
$black-color: var(--black-color);
$secondary-black-color: var(--secoundry-black-color);
$white-color: var(--white-color);
$background-color: var(--background-color);
$stroke-color: var(--stroke-color);

.default {
    color: $black-color;
    background-color: $white-color;
}

.secondary {
    color: $secondary-black-color;
    background-color: $background-color;
}

.outlined {
    background-color: transparent;
    border: 1px solid $stroke-color;
    color: $black-color;
}

// Border
$border-radius: var(--border-radius);
$border-input: var(--border-input);

// Full width
.fullWidth {
    width: 100%;
}

// Disabled state
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

//fonts
$font-secoundry-black: var(--font-secoundry-black);

// Base input style
.input {
    border: $border-input;
    padding: 0.5em 1em;
    border-radius: $border-radius;
    transition: border-color 0.3s ease;
    color: inherit;
    background-color: inherit;
    font-family: $font-secoundry-black;
}

// Media queries
@include mobile-l {
    .xs {
        font-size: $font-size-xxs;
    }
}

@include tablet-m {
    .s {
        font-size: $font-size-s;
    }

    .m {
        font-size: $font-size-m;
    }
}