@use "../../../../app/styles/mixin.scss" as mixin;


.container {
  padding: 24px 0;
  border-bottom: 2px solid var(--grey-background-color);

  & td {
    padding: 24px 0;
    text-align: start;
    
  }
}

.buttonClear {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: transparent;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: var(--black-color);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}