.container {
  border-collapse: collapse;
  width: 100%;
}

.header {
  & tr {
    &:first-child th:first-child {
      padding-left: 55px;
      border-top-left-radius: var(--border-radius-12);
      border-bottom-left-radius: var(--border-radius-12);  
    }

    &:first-child th:last-child {
      padding-right: 16px;
      border-top-right-radius: var(--border-radius-12); 
      border-bottom-right-radius: var(--border-radius-12); 
    }

    & th {
      text-align: left;
      background-color: var(--yellow-color);
      padding: 16px 0;
    }
  }
}

.containerMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-22);
}
