@use '../../../app/styles/media-queries.scss' as media;
@use '../../../app/styles/mixin.scss' as mixin;

.header {
    background-color: var(--green-color);
    color: var(--white-color);

    @include media.tablet-m {
        flex-direction: column;
    }

    .header_container {
        @include mixin.section-style;

        .header_content {
            padding: 16px 0;

            @include media.tablet-m {
                justify-content: flex-end;
            }

            .phone, .discount {
                @include media.tablet-m {
                    display: none;
                }
            }

            .links {
                a {
                    color: var(--yellow-color);
                    font-size: var(--font-size-18);
                    font-weight: 500;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        left: 0;
                        bottom: -5px;
                        background-color: var(--yellow-color);
                        transition: width 0.3s ease;
                    }

                    &:hover:after {
                        width: 100%;
                    }

                    @include media.tablet-m {
                        &:after {
                        content: none;
                        }
                    }

                }
            }
        }
    }
}
