@import "../../../../app/styles/mixin.scss";

.container {
    @include section-style;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-48);

    & > div {
        text-align: center;
        align-items: center;
    }
}
