@use "../../../../app/styles/mixin.scss" as mixin;
@use "../../../../app/styles/media-queries.scss" as media;

.container {
    @include mixin.section-style;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-48);

    @include media.tablet-l {
        width: 100%;
        padding: 0 30px;
    }

    & > div {
        text-align: center;
        align-items: center;
    }

    @include media.mobile-xl {
        & div > h2 {
            font-size: var(--font-size-22);
        }

        & p {
            font-size: var(--font-size-18);
        }
    }
}
