@import '../../../../app/styles/media-queries';

.headerContainer {
    @include mobile-xl {
        align-items: center;
    }
}

.headerContainer h1 {
    font-size: var(--font-size-48);

    & span {
        color: var(--green-color)
    }

    @include mobile-xl {
        font-size: var(--font-size-32);
        text-align: center;
    }
}

.headerContainer {
    p {
        line-height: 1.5;

        @include mobile-xl {
            text-align: justify;
            font-size: 16px;
        }
    }
}

.linkContainer {
    @include mobile-xl {
        flex-direction: column;
        width: 100%;
    }
}

.linkShop {
    padding: 16px 64px 16px 32px;
    position: relative;
    background-image: url('../../../../shared/assets/svg/arrowright.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 22px;

    @include mobile-xl {
        width: 100%;
    }
}

.linkCategory {
    position: relative;
    padding: 17px 22px;
    line-height: 1.21;
}

.description {
    @include mobile-xl {
        flex-direction: column;
        align-items: center;
        padding: 0;
        background-position: left -10px;
    }
}

.description div {
    @include mobile-xl {
        align-items: center;
    }
}

.description svg {
    position: relative;
    right: -20px;
}

.description a {
    width: 57px;
    height: 57px;
    border: 3px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &::after, &::before {
        content: "" ;
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: var(--black-color);
    }

    &::before {
        transform: rotate(90deg);
    }
}