.headerContainer h1 {
    font-size: var(--font-size-58);
    line-height: 1.26;
    width: 728px;

    & span {
        color: var(--green-color)
    }
}

.headerContainer p {
    line-height: 1.56;
    width: 500px;
}

.linkShop {
    padding: 17px 64px 17px 32px;
    position: relative;
    background-image: url('../../../../shared/assets/svg/arrowright.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 22px;
}

.linkCategory {
    position: relative;
    padding: 17px 22px;
    line-height: 1.21;
}

.description {
    background-image: url("../../../../shared/assets/svg/circls.svg");
    background-repeat: no-repeat;
    padding-left: 142px;
}

.description a {
    width: 57px;
    height: 57px;
    border: 3px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;

    &::after, &::before {
        content: "" ;
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: var(--black-color);
    }

    &::before {
        transform: rotate(90deg);
    }
}
