.inStock {
    padding: 6px 13px;
    border-radius: 170px;
    color: var(--border-inStock-color);
    background-color:var(--button-inStok-color);
    border: 1px solid var(--border-inStock-color)
}
