@use '../../../../app/styles/media-queries.scss' as media;

.mainContainer {
    border-radius: var(--border-radius-24);
    border: var(--border-todayDeals);
    background-color: var(--background-color);
    padding: 12px;
    width: auto;

    @include media.tablet-m {
        flex-direction: column;
    }

    @include media.mobile-l {
        width: 100%;
    }

    .cardBase {
        background-color: var(--background-color);
        border-radius: var(--border-radius-24);
        position: relative;
    
        img {
            border-radius: var(--border-radius-16);
            width: 100%;
            object-fit: cover;
        } 

        .promotion {
            position: absolute;
            top: 8px;
            left: 8px;
            padding: 8px 16px;
            border-radius: var(--border-radius-170);
            background-color: var(--green-color);
            height: 38px;
            color: var(--white-color);
        
            @include media.tablet-m {
                padding: 6px 12px;
                width: 69px;
                height: 27px;
                font-size: var(--font-size-12);
            }
            
        }

    &.generalCard {
        width: 276px;
        height: 331px;

        @include media.mobile-l {
            width: 100% !important;
            height: 350px;
        }
    
        .cardTimer {
            position: absolute;
            bottom: 10px;
            left: 5px;
            
            @include media.mobile-l {
                width: 98%;
            }
        }
    }

    &.extendedCard {
        width: 276px;
        height: 331px;

        @include media.mobile-l {
            width: 100%;
            height: 350px;
        }

        .cardTimer {
            position: absolute;
            bottom: 10px;
            left: 5px;

            @include media.mobile-l {
                width: 98%;
            }
        }
    }
    }

}


