@use "../../../../app/styles/mixin.scss" as mixin;
@use "../../../../app/styles/media-queries.scss" as media;
.container {
    & > div img {
        width: 584px;
        height: 700px;
        object-fit: cover;
        border-radius: 24px;
        background-color: var(--grey-background-color);

        @include media.desktop-m {
            width: 100%;
            height: auto;
        }

        @include media.mobile-xl {
            height: 392px;
        }
    }
}

.previewGoodContainer {
    position: relative;
    width: 584px;

    @include media.desktop-m {
      width: 500px;
    }

    @include media.tablet-l {
      width: 350px;
    }


    & > div{
        position: absolute;
        width: 90%;
        height: fit-content;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        justify-content: space-between;

        @include media.mobile-xl {
            width: 95%;
        }

        & button {
            width: 64px;
            height: 64px;
            border-radius: 16px;

            @include media.mobile-xl {
                width: 48px;
                height: 48px;
            }

        }

        & button svg {
            @include media.mobile-xl {
                width: 20px;
            }
        }
    }
}


.imagesContainer {
    display: flex;
    gap: inherit;
    width: 100%;

    & li {
        padding: 0;
    }

    & button {
        width: 100%;
        height: 164px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            @include mixin.button-hover
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
            background-color: var(--grey-background-color);
        }

        @include media.mobile-xl {
            height: 90px;
        }
    }
}

.currentSlider {
    border: 3px solid var(--green-color);
    border-radius: 16px;
}
