@import '../../../../app/styles/media-queries.scss';

.form {
    width: 512px;
    height: 763px;
    font-family: var(--font-family);

    @include tablet-m {
        max-width: 90%;
        padding: 70px 24px;
    }
}

.logo {
    @include tablet-m {
        display: none;
    }
}

.heading {
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 48px;
}

.par {
    opacity: var(--opacity-xl);
    color: var(--secoundry-black-color);
    margin-bottom: 48px;

    @include tablet-m {
        margin-bottom: 32px;
    }
}

.email {
    margin-bottom: 32px;
}

.submitBtn {
    padding: 16px;
    margin: 32px 0;
}

.account {
    font-weight: 500;
    color: var(--black-color);
    text-align: center;
}

.signInLink {
    color: var(--green-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: var(--green-color);
    }
}