@use '../../../../app/styles/mixin.scss' as mixin;

.productAdmin {
    @include mixin.title-admin;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-32);
    width: 100%;

    .form_container {
        @include mixin.section-style;

        :nth-child(1) {
            width: 100%;
        }
    }

    .save {
        width: 300px;
        padding: 16px;
    }
}