.container {   
    color: var(--black-color);

    h2 {
        line-height: 51px;
    }

    hr {
        width: 250px;
        height: 1px;
        background-color: var(--stroke-color);
        border: none;
        }
        
    .buttonContainer{
        button {
            padding: 8px 16px;
            
        }
    }
    
}