@import '../../../../app/styles/media-queries.scss';

.container {   
    color: var(--black-color);

    h2 {
        line-height: 51px;
    }

    hr {
        width: 250px;
        height: 1px;
        background-color: var(--stroke-color);
        border: none;
        }
        
    .buttonContainer{
        position: sticky;
        top: 10px;
        z-index: 10;

        @include tablet-m {
            top:50px
        }
        button {
            padding: 8px 16px;
            
        }
    }
    
}