.container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

$green-color: var(--green-color);
$green-color-hover: var(--green-color-hover);
$white-color: var(--white-color);
$grey-color: var(--grey-background-color);

$box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
-4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4);

.button {
    width: 38px;
    height: 6px;
    border-radius: 20px;

    &.primary {
        background-color: $white-color;
    }

    &.secondary {
        background-color: $grey-color;
    }

    &.current {
        background-color: $green-color;

        &:hover {
            background-color: $green-color-hover;
        }
    }
}
