.reviewItem {
    background-color: var(--white-color);
    border-radius: 24px;
    max-width: 584px;
    height: 347px;
    box-sizing: border-box;
}

.wrapper {
    width: 552px;
}

.reviewImageContainer {
    background-color: var(--green-color);
    min-width: 175px;
    height: 175px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 24px;
}

.quotesIcon {
    flex-grow: 2;
}

.ratingCurrent path {
    fill: var(--yellow-color);
}

.starDisable path {
    fill: var(--background-color);
}

.ratingTitle {
    font-size: var(--font-size-24);
    line-height: 1.21;
}

.review {
    padding: 0 32px 32px;
    line-height: 1.5;
    opacity: var(--opacity-08);
    height: inherit;
}
