@import '../../../../app/styles/media-queries.scss';

.review {
    line-height: 1.5;
    opacity: var(--opacity-08);

    @include mobile-xl {
        font-size: var(--font-size-18);
        font-weight: 500;
    }
}

.text_name {
    font-size: var(--font-size-24);
    font-weight: 500;

    @include mobile-xl {
        font-size: var(--font-size-22);
    }
}

.textSpeciality {
    @include mobile-xl {
        font-size: var(--font-size-18);
        font-weight: 500;
    }
}
