@import '../../../../app/styles/media-queries.scss';

.reviewItem {
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 24px;
    height: 400px;
    box-sizing: border-box;
}

.wrapper {
    @include mobile-xl {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
}

.wrapper >div:nth-child(2) {
    @include mobile-xl {
        order: 2;
        width: calc(100% - 40px);
    }
}

.wrapper svg {
    width: 100px;
}

.quotesIcon {
    flex-grow: 2;
}

.ratingCurrent {
    width: 30px;
}

.starDisable {
    width: 30px;
}

.ratingCurrent path {
    fill: var(--yellow-color);
}

.starDisable path {
    fill: var(--background-color);
}

.ratingTitle {
    font-size: var(--font-size-24);
    line-height: 1.21;
}

.review {
    line-height: 1.5;
    opacity: var(--opacity-08);
}
