.container {
    width: 276px;
}
.line {
    color: var(--stroke-color);
}
input[type="checkbox"] {
    accent-color: var(--green-color);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.subtitle {
    font-size: var(--font-size-20);
    font-weight: 500;
    margin-bottom: 16px;    
}
.price {
    color: var(--secoundry-black-color);
    font-size: var(--font-size-18);
}
.slider {
    width: 270px;
    height: 6px;
    background: var(--stroke-color);
    border-radius: 3px;
    margin-top: 29px;
}

.thumb {
    height: 24px;
    width: 24px;
    background-color:var(--green-color);
    border-radius: 50%;
    cursor: pointer;
    border:var(--border-flashSale);
    margin-top: -7px; 
}

.track {
    position: absolute;
    height: 6px;
    border-radius: 3px;
    
}

.trackMin {
    background-color: #ddd;
}

.trackMax {
    background-color: var(--green-color);
}

input[type="radio"] {
    width: 24px;
    height: 24px;
}
input[type="radio"]:nth-child(1) {
    accent-color: #844E2D;
}
input[type="radio"]:only-of-type(2) {
    accent-color: var(--stroke-color);
}
input[type="radio"]:only-of-type(3) {
    accent-color: var(--black-color);
}
input[type="radio"]:only-of-type(4) {
    accent-color: red;
}
input[type="radio"]:nth-of-type(5) {
    accent-color: red;
}
input[type="radio"]:nth-of-type(6) {
    accent-color: red;
}
input[type="radio"]:nth-of-type(7) {
    accent-color: red;
}
input[type="radio"]:last-of-type(8) {
    accent-color: red;
}