@import '../../../app/styles/media-queries.scss';

.header_alert {
    display: none;
    color: var(--white-color);
    
    @include tablet-m {
        display: flex;
        background-color: var(--green-color);
        padding: 16px 24px;   
    }

    .cross {
        display: none; 

        @include tablet-m {
            display: block; 
            background: transparent;
        }
    }

}