@use '../../../../app/styles/media-queries.scss' as *;

table {
    width: 100%;    
    border-collapse: collapse;
    gap: var(--gap-16);
    text-align: left;
    font-size: var(--font-size-18);

    th {
        font-weight: 500;
        padding: 10px;
    }

    th:first-child {
        border-top-left-radius: var(--border-radius-12);
        border-bottom-left-radius: var(--border-radius-12);
    }
    
    th:last-child {
        border-top-right-radius: var(--border-radius-12);
        border-bottom-right-radius: var(--border-radius-12);
    }

    tr {
        border-bottom: 1px solid var(--stroke-color);
        height: 156px;
    }

    thead tr {
        background-color: var(--yellow-color);
        height: 59px;
    }

    .itemDescription {
        padding: 0 10px 0 10px;
        p:first-child {
            font-weight: 500;
        }
        p:last-child {
            color: var(--secoundry-black-color);
        }
    }

    td:nth-child(3) {
        font-weight: 500;
    }

    td:nth-child(5) {
        color: var(--border-inStock-color);
    }

    .priceContainer {
        padding: 0 10px 0 10px;
        width: 100%;
        p {
            font-weight: 500;
            width: 100%;
            font-size: var(--font-size-18);
        }

        :nth-child(2) {
            font-weight: 500;
            color: var(--secoundry-black-color);
            opacity: var(--opacity-06);
            font-size: var(--font-size-14);
            text-decoration: line-through;
        }
    }

    img {
        width: 90px;
        object-fit: cover;
        height: 100px;
        background-color: rgb(222, 220, 220);
        border-radius: var(--border-radius-16);
    }
    button {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 16px 32px;
        @include tablet-l {
            padding: 16px;
        }
    }

    .deleteButton {
        background-color: transparent;
        padding: 0 20px 0 0;
        @include tablet-l {
            padding: 0;
            display: flex;
            align-self: flex-start;
        }
    }
}