.previewContainer {
    display: flex;
    gap: var(--gap-30);
    background-color: var(--background-color);
    padding: 131px 120px;
    background-image: url("../../../../shared/assets/svg/background-preview-top.svg"), url("../../../../shared/assets/svg/background-preview-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 right 38%, bottom 0 left 30%;
    
    & .descriptionContainer h2 {
        max-width: 750px;
        line-height: 1.26;
    }
}

.text {
    font-size: var(--font-size-18);
    line-height: 1.56;
    width: 500px;
}

.linkShop {
    padding: 17px 64px 17px 32px;
    position: relative;
    background-image: url('../../../../shared/assets/svg/arrowright.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 22px;
}

.linkCategory {
    position: relative;
    color: var(--black-color);
    padding: 17px 22px;
    font-size: var(--font-size-18);
    line-height: 1.21;

    &::after{
        content: '';
        position: absolute;
        width: calc(100% - 44px);
        height: 2px;
        background-color: var(--black-color);
        left: 22px;
        bottom: 15px;
    }

    &:hover {
        opacity: 0.7;
    }

    &:hover::after{
        opacity: 0.7;
    }
}

.description {
    background-image: url("../../../../shared/assets/svg/circls.svg");
    background-repeat: no-repeat;
    padding-left: 250px;
}
