@import '../../../app/styles/media-queries';
@import '../../../app/styles/mixin.scss';

//background
$background-color: var(--background-color);
$green-background-color: var(--green-color);

//color
$grey-color:var(--secoundry-black-color);


//border-radius
$border-radius-circle: var(--border-radius-circle);


.newsLetterContainer {
    background-color: $background-color;
    height: 578px;
    @include point-style;
    width: 100%;

    @include mobile-xl {
        padding: 70px 0 50px 0;
    }

    > div {
        @include section-style;

        @include mobile-xl {
            width: 100%;
        }

        > div:nth-child(1) {
            width: 100%;
            text-align: center;
            > div {
                align-items: center;
            }
            > p {
                color: $grey-color;
            }
        }

        form {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            height: 100px;
            gap: 16px;

            @include mobile-xl {
                width: 100%;
            }
    
            @include mobile-l {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                height: 200px;
            }
    

            > div {
                width: 100%;
                > div > input {
                    position: relative;
                    width: 416px;
                    height: 66px;
                    padding-left: 70px;
    
                    @include mobile-xl {
                        width: 100%;
                    }
                }
            }

            svg  {
                position: absolute;
                border-radius: $border-radius-circle;
                background-color: $green-background-color;
                top:0 !important;
                height: 50px;
                width: 50px;
                padding: 9px;
                left: 8px !important;
                transform: translateY(15%);
                z-index: 2;
            }

            button {
                font-weight: 600;
                padding: 22px 44px;

                @include mobile-xl {
                    width: 100%;
                    padding: 12px 44px;
                }
            }
        }
    }
}
