svg {
  margin-right: 10px;
}

.text {
  color: var(--secoundry-black-color);
}

  li {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    color: var(--secoundry-black-color);
  }


