@import '../../../../app/styles/media-queries';

.container {
    padding: 20px 20px 0 0;
    background-image: url("../../../../shared/assets/svg/fireworks.svg");
    background-repeat: no-repeat;
    background-position: top right;
    width: fit-content;

    @include mobile-l {
        display: none;
    }
}

.container h3 {
    font-weight: 500;;
    line-height: 1.21;
    background-color: var(--white-color);
    padding: 17.5px 23px 17.5px 68px;
    align-content: center;
    border-radius: 200px;
    width: fit-content;
    background-image: url("../../../../shared/assets/svg/armchair.svg");
    background-position: top 4px left 10px;
    background-repeat: no-repeat;
}
