@import '../../../../app/styles/media-queries.scss';

.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 29px 0;

    @include tablet-m {
        display: none;
    }

    .navLinks {
        gap: var(--gap-36);
        display: flex;
        
        a {
            font-size: var(--font-size-16);
            color: var(--black-color);
            font-family: var(--font-family);
        }
    }

    button {
        background-color: transparent;
    }
}
