@import '../../../../app/styles/media-queries.scss';


.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 29px 0;

    @include tablet-m {
        display: none;
    }

    .navLinks {
        gap: var(--gap-36);
        display: flex;

        a {
            position: relative;
            font-size: var(--font-size-16);
            color: var(--black-color);
            font-family: var(--font-family);
            text-decoration: none;
            transition: color 0.3s ease;

            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                left: 0;
                bottom: -5px;
                background-color: var(--green-color);
                transition: width 0.3s ease;
            }

            &:hover:after,
            &.active:after {
                width: 100%;
            }

        }
    }

    button {
        background-color: transparent;
    }
}