@use '../../../app/styles/media-queries.scss' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include tablet-m {
        padding: 40px 0 32px;
    }

    .logo {
        @include tablet-m {
            display: none;
        }
    }
    
    .password {
        position: relative;
    
        .password_btn {
            background: none;
            position: absolute;
            top: 50px;
            right: 24px;
        }
    }
    
    .submitBtn {
        padding: 16px;
    }
}


