.review {
  border-bottom: 2px solid var(--stroke-color);
  padding: 33px 0;

  & > div:first-of-type {
    & > p {
      color: var(--secoundry-black-color);
    }
  }

  & > div:nth-of-type(2) {
    order: 2;

    & svg {
      width: 24px;
      height: 24px;
    }

    & span {
      font-size: var(--font-size-18);
    }
  }
}
  