@import '../../../app/styles/mixin';

//font-size
$font-size-20: var(--font-size-20);

//background-color
$background-color-yellow: var(--yellow-color);

.ourBlogContainer {
    width: 100%;

        .ourBlog {
            @include section-style;


            > div:nth-child(1) {
                flex-wrap: wrap;
                width: 100%;

                > div {
                    flex: 1 1 calc(34% - 32px); 
                    max-width: calc(34% - 32px);

                    @include tablet-l {
                        flex: 1 1 calc(51% - 32px); 
                        max-width: calc(51% - 32px);
                    }

                    @include mobile-l {
                        flex: 1 1 100%; 
                        max-width: 100%;
                    }

                    > div {
                        width: 100%;
                    }
                }
            }

            > div:nth-child(2) {
                button {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    padding: 12px 18px;
                    font-size: $font-size-20;
                    text-align: center;
                    border: none;
    
                    &.active {
                        background-color: $background-color-yellow;
                    }
                }
    
                button:nth-last-of-type(1) {
                    rotate: 180deg;
                    padding: 0;
                }
                button:nth-of-type(1) {
                    padding: 0;
                }
            }
        }
}