@import '../../../../app/styles/media-queries.scss';

.form {
    width: 512px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    @include tablet-m {
        max-width: 90%;
    }
}

.logo {
    @include tablet-m {
        display: none;
    }
}

.par {
    opacity: var(--opacity-xl);
    color: var(--secoundry-black-color);
}

.submitBtn {
    padding: 16px;
}

.account {
    font-weight: 500;
}

.signInLink {
    color: var(--green-color);
    background-color: transparent;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: var(--green-color);
    }
}