.container {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.container li {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button {
    width: 38px;
    height: 6px;

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    
}

.notPressed {
    background-color: var(--white-color);
}