@use '../../app/styles/media-queries.scss' as media;
@use '../../app/styles/mixin.scss' as mixin;

.container {
    display: grid;
    gap: var(--gap-48);
    text-align: center;
    width: fit-content;

    @include mixin.section-style;

    @include media.mobile-xl {
        gap: var(--gap-26);
    }

    & p:first-of-type {
        font-size: 200px;
        line-height: 0.75;
        color: var(--grey-background-color);

        @include media.mobile-xl {
            font-size: 125px;
            gap: var(--gap-26);
        }
    }

    & p:last-of-type {
        width: 35%;
        text-align: center;
        justify-self: center;

        @include media.mobile-xl {
            width: 100%;
        }
    }

    & a {
        padding: 18px 28px;
        width: fit-content;
        justify-self: center;
    }
}
