.container {
    display: grid;
    gap: var(--gap-30);
    text-align: center;
    width: fit-content;

    & p:first-of-type {
        font-size: 200px;
        line-height: 0.75;
        color: var(--grey-background-color);
    }

    & p:last-of-type {
        width: 55%;
        text-align: justify;
        justify-self: center;
    }

    & a {
        padding: 18px 28px;
        width: fit-content;
        justify-self: center;
    }
}